@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.modalBoby .ant-modal-content {
    color: black;
    background-color: #f1f509;
}

.modalBoby .ant-modal-close {
    display: none;
}


p {
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: large;
}


.modalBoby .ant-btn-default {
    display: none;
}

.modalBoby .ant-modal-footer {
    display: flex;
    justify-content: center;
}

.modalBoby .ant-btn-primary {
    color: #fff;
    padding-right: 0;
    background-color: #c0392b;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.modalBoby .ant-btn-primary:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
}

.modalBoby .ant-btn-primary::after {
    content: "\f004";
    color: #e74c3c;
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    right: -55px;
    transition: all 0.2s ease;
}

.modalBoby .ant-btn-primary:hover::after {
    margin: -5px 15px;
    right: 0px;
}