.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.text-address {
    font-size: calc(6px + 2vmin);
    margin: 20px auto 40px auto;
    color: yellow;
    /* box-shadow: -1px 1.2em 1em black; */
}

.agree {
    background-color: green;
    opacity: 1;
    width: 15em;
    height: 10vh;
    font-size: calc(6px + 2vmin);
    transition-duration: 0.4s;
    margin: 10px;
    padding: 10px;
    border-radius: 10em;
}

.no {
    background-color: red;
    opacity: 1;
    width: 15em;
    height: 10vh;
    font-size: calc(6px + 2vmin);  
    transition-duration: 0.4s;
    margin: 10px;
    padding: 10px;
    border-radius: 10em;
}

.agree:hover {
    background-color: white;
    border-color: green;
    border-width:  20px;
    box-shadow: 0 12px 16px 0 rgba(24, 175, 24, 0.562), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.no:hover {
    background-color: white;
    border-color: red;
    border-width:  20px;
    box-shadow: 0 12px 16px 0 rgb(56, 16, 16), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alert-continer {
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: calc(6px + 1vmin);  
    margin: 10px auto;
} 